<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

Hi Users...
<p> 
    Passwords plays a vital role in storing any secret data or any documents.
    And if your Passwords of any account is weak or not lengthy its easily hackable,
    by the hackers. And they can sell your documents, photos, etc. to other clients.
</p>
<p>
    We know that there are many website online for making random Passwords just like ours.
    And we are trying to make your password strong.
</p>
<h5>THis is Password Generator created by Hoodooloo</h5>

<hr>
<button>
    <a href="{% url 'home' %}" style="color: black;">Click here to Generate new Password.</a>
</button>